global
    log fd@2 local2
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    stats socket /var/lib/haproxy/stats expose-fd listeners
    maxconn 4000
    user haproxy
    group haproxy
    master-worker

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold other 10s
    hold refused 10s
    hold nx 10s
    hold timeout 10s
    hold valid 10s
    hold obsolete 10s

defaults
    log     global
    mode    http
    option  forwardfor
    option  httplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend fe-web
    bind *:80
    # Mengarahkan path /haproxy ke halaman statistik 
    use_backend stat if { path -i /haproxy }
    default_backend be-web

backend be-web
    balance roundrobin
    # Mengarahkan trafik ke worker1 dan worker2 
    # Catatan: Dalam Docker Swarm modern, biasanya cukup menunjuk ke nama service (app).
    # Namun, saya mengikuti konfigurasi spesifik dokumen Anda yang menggunakan IP statis/hostname node.
    server worker1 192.168.28.11:8080 check
    server worker2 192.168.28.12:8080 check

backend stat
    stats enable
    stats url /haproxy
    stats auth learnify:280105  # Username dan Password statistik 
    stats refresh 5s
    stats show-legends
    stats show-node